pip3 install openpyxl
pip3 install PyPDF2
pip3 install jq
pip3 install docx2txt
pip3 install openai
pip3 install langchain
pip3 install tiktoken
pip3 install flask
pip3 install pandas
pip3 install python-dotenv
pip3 install faiss
pip3 install faiss-cpu
pip3 install pymongo